<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CompileData/src/edu/ucsf/sdm/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.sdm.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sPathMetadata=/home/jladau/Documents/Research/Data/Microbial Community Samples/Marine MICROBIS Community Samples Metadata.csv&#10;--dRadius=50.0&#10;--sPathSmoothedRanges=/home/jladau/Documents/Research/Data/Smoothed IUCN Ranges/Birds_50.0_SMOOTH.csv&#10;--sOutDir=/home/jladau/Desktop"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CompileData"/>
</launchConfiguration>
