<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FormatPrairieMask/src/edu/ucsf/sdm/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.sdm.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sShapefilePath=/home/jladau/Documents/Research/Data/Original Tallgrass Prairie Extent Map/eco-us-degrees-shp/eco_us_degrees.shp.txt&#10;--sDBFPath=/home/jladau/Documents/Research/Data/Original Tallgrass Prairie Extent Map/eco-us-degrees-shp/eco_us_degrees.dbf.csv&#10;--sOutputDir=/home/jladau/Documents/Research/Data/Original Tallgrass Prairie Extent Map"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FormatPrairieMask"/>
</launchConfiguration>
