<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MapIndividualTaxon/src/edu/ucsf/sdm/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="R_HOME" value="/usr/lib64/R"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.sdm.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sPathArguments=/home/jladau/Desktop/MapIndividualTaxa_Settings.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MapIndividualTaxon"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=.:/home/jladau/R/x86_64-pc-linux-gnu-library/2.11/rJava/jri"/>
</launchConfiguration>
