<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SmoothRangeIUCN/src/edu/ucsf/ranges/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/home/jladau/Desktop/SmoothRangeIUCN.log"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.ranges.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--rgdRadii=1000&#10;--sPathShapefile=/home/jladau/Desktop/range_shapefiles_TEMP/Birds.shp.txt&#10;--sDirOut=/home/jladau/Desktop&#10;--sTaxon=Birds&#10;--iTaskID=-9999&#10;--iTotalTasks=100"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SmoothRangeIUCN"/>
</launchConfiguration>
