<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TurnoverRangeShapeIUCN/src/edu/ucsf/ranges/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.ranges.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--dRadius=50&#10;--sPathSmoothedRanges=/home/jladau/Documents/Research/Data/Smoothed IUCN Ranges/Amphibians_50.0_SMOOTH.csv&#10;--sPathContinents=/home/jladau/Documents/Research/Data/Formatted Continent Data/ContinentList.csv&#10;--bOverlapping=false&#10;--dHeight=5&#10;--dSamplingArea=250000&#10;--sPathLandRaster=/home/jladau/Documents/Research/Data/Global Topography Raster/globaltopography.nc&#10;--sMode=beta-diversity&#10;--iRndSeed=1234&#10;--iIterations=1000&#10;--dDistance=100&#10;--sLand=both&#10;--iTaskID=5&#10;--iTotalTasks=250&#10;--sDataPath=/home/jladau/Desktop/temp/Amphibians.data"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TurnoverRangeShapeIUCN"/>
</launchConfiguration>
