<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/UnifyWorkspace/src/edu/ucsf/utilities/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.utilities.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sDirWorkspace=/home/jladau/Desktop/SmoothRange_TEMP"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="UnifyWorkspace"/>
</launchConfiguration>
