<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AppendRelationshipPredictions0/src/edu/ucsf/ranges/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.ranges.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sPathSmoothedRanges=/home/jladau/Documents/Research/Data/Smoothed IUCN Ranges/Amphibians_1000.0_SMOOTH.csv&#10;--sPathData=/home/jladau/Desktop/Global SAR and EAR Project/FindRelationship_Output_Amphibians.csv&#10;--dRadius=1000"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AppendRelationshipPredictions0"/>
</launchConfiguration>
