<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AppendRelationshipPredictions/src/edu/ucsf/ranges/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.ranges.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sDirSmoothedRanges=/home/jladau/Documents/Research/Data/Smoothed IUCN Ranges/&#10;--rgdRadii=50,100,200,300,400,500,1000,2000,3000,4000,5000&#10;--sTaxon=Birds&#10;--sPathData=/home/jladau/Desktop/Global SAR and EAR Project/FindRelationship_Output_Birds.csv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AppendRelationshipPredictions"/>
</launchConfiguration>
