<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DrawTrueDiversityMap/src/edu/ucsf/sdm/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.sdm.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--dRadius=50.0&#10;--sPathSmoothedRanges=/home/jladau/Documents/Research/Data/Smoothed IUCN Ranges/Birds_50.0_SMOOTH.csv&#10;--sOutDir=/home/jladau/Desktop&#10;--sPathGlobalTopography=/home/jladau/Documents/Research/Data/Global Topography Raster/globaltopography.nc&#10;--sLocation=marine&#10;--sTaxon=Birds"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DrawTrueDiversityMap"/>
</launchConfiguration>
