<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DrawMap/src/edu/ucsf/sdm/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.sdm.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sAnalysisMode=alpha-diversity&#10;--sRasterDir=/home/jladau/Documents/Research/Data/Rasters/Terrestrial and Global Environmental Variables&#10;--sResponseTransform=identity&#10;--sPredictorValues=vert:0,time:7&#10;--iTaskID=-9999&#10;--iTotalTasks=100&#10;--bPrintCrossValidation=true&#10;--sDataPath=/home/jladau/Desktop/Planctomycetes.LogitRelAbundance/Planctomycetes.LogitRelAbundance.alpha.data"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DrawMap"/>
</launchConfiguration>
