<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FlattenOTUTable/src/edu/ucsf/sdm/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.sdm.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sPathTable=/home/jladau/Documents/Research/Data/Microbial Community Samples/Raw LTER Data/otu_table_mc2_wTaxa_4000.txt&#10;--sOutputDir=/home/jladau/Desktop"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FlattenOTUTable"/>
</launchConfiguration>
