<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GetSmoothedRangeAreaPerimeter/src/edu/ucsf/ranges/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.ranges.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sPathSmoothedRanges=/home/jladau/Documents/Research/Data/Smoothed IUCN Ranges/Amphibians_100.0_SMOOTH.csv&#10;--sOutPath=/home/jladau/Desktop/Amphibians_100.0_SMOOTH_PerimeterArea.csv&#10;--iTaskID=-9999&#10;--iTotalTasks=-9999"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GetSmoothedRangeAreaPerimeter"/>
</launchConfiguration>
