<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/UnifyWorkspaces/src/edu/ucsf/utilities/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.utilities.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sDirWorkspace=/home/jladau/Documents/Research/Java/Code&#10;--sDirComparison1=/home/jladau/Desktop/AppendRasterValues&#10;--sDirComparison2=/home/jladau/Desktop/CompileObservationsAlphaDiversity&#10;--sDirOutput=/home/jladau/Desktop/temp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="UnifyWorkspaces"/>
</launchConfiguration>
