<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ValidateDiversityEstimator0/src/edu/ucsf/ranges/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.ranges.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--dRadius=0&#10;--sPathSmoothedRanges=/home/jladau/Desktop/Beta-Diversity Range Shapes Project/Data/Smoothed IUCN Ranges/Caudata_50.0_SMOOTH.csv&#10;--sPathLandRaster=/home/jladau/Documents/Research/Java/PointOnLand_Data/globaltopography.nc&#10;--sMode=alpha-diversity&#10;--sLand=both&#10;--iValidationIterations=1000&#10;--iCensusLocations=50&#10;--iRandomRanges=9999&#10;//--dLatMin=35 //--dLatMax=45 //--dLonMin=-100 //--dLonMax=-60&#10;//--dLatMin=25 //--dLatMax=50 //--dLonMin=-130 //--dLonMax=-60&#10;//--dLatMin2=30 //--dLatMax2=70 //--dLonMin2=0 //--dLonMax2=120&#10;//--dLatMin=25 //--dLatMax=30 //--dLonMin=-110 //--dLonMax=-105&#10;--dLatMin=40 --dLatMax=50 --dLonMin=-130 --dLonMax=-70&#10;--dLatMin2=30 --dLatMax2=40 --dLonMin2=-130 --dLonMax2=-70&#10;//--dLatMin=35 //--dLatMax=45 //--dLonMin=-110 //--dLonMax=-95&#10;//--dLatMin=35 //--dLatMax=45 //--dLonMin=-135 //--dLonMax=-120"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ValidateDiversityEstimator0"/>
</launchConfiguration>
